In [2]:
import pandas as pd
import duckdb

In [4]:
sql_query = 'show tables'

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

Empty DataFrame
Columns: [name]
Index: []

In [ ]:
query_1 = ''' 
create or replace table parking_violation_codes as 
select * 
from read_csv_auto('data/dof_parking_violation_codes.csv', normalize_names=True)
'''

query_2 = ''' 
create or replace table parking_violation_2023 as 
select *
from read_csv_auto('data/parking_violations_issued_fiscal_year_2023_sample.csv', normalize_name=True)
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    con.sql(query_1)
    con.sql(query_2)