In [1]:
import pandas as pd
import duckdb

In [7]:
sql_query = ''' select * from  gold_vehicles_metrics
                    limit 5'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

  registration_state  ticket_count
0                 NJ          9258
1                 PA          3514
2                 FL          2414
3                 CT          1787
4                 GA           840

In [1]:
query_1 = ''' 
create or replace table parking_violation_codes as 
select * 
from read_csv_auto('data/dof_parking_violation_codes.csv', normalize_names=True)
'''

query_2 = ''' 
create or replace table parking_violation_2023 as 
select *
from read_csv_auto('data/parking_violations_issued_fiscal_year_2023_sample.csv', normalize_names=True)
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    con.sql(query_1)
    con.sql(query_2)

NameError: name 'duckdb' is not defined